body {
    background-color: #EDECE9;
    font-family: "Verdana", "Arial", "sans-serif";
}

img {
    width: 100%;
    height: auto;
}

nav {
    font-size: larger;
}

a {
    color: #EF6D24;
    font-weight: bold;
}

h1,
p,
li {
    color: #775548;
}

h2 {
    background-color: #775548;
    color: #EDECE9
}

#LaNacion {
    color: #3AABC4;
}

#Pagina12 {
    color: red;
}

#porQueElegirnos {
    color: #D8B03B;
}

footer {
    height: 100px;
    text-align: center;
    background-color: black;
    color: yellow;
    padding-top: 10px;
    font-size: 1.5em;
}