body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", "Geneva", "Verdana", "sans-serif";
}
#logo {
    width: 25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}
h1 {
    color: #BB5397;
    text-align: center;
    letter-spacing: 15px;
    font-weight: 200;
}

h2 {
    color: #BB5397;
    letter-spacing: 10px;
    font-size: 1em;
}

p {
    color: #6F62A6;
    text-align: left;
}
img {
    width: 500px;
    height: auto;
}
#imgright {
float: right;
margin-right: 1%;
margin-left: 2%;
}
#imgleft {
    float:left;
    margin-left: 1%;
    margin-right: 2%;
}
#imgbottom {
    
    width: 100%;
}